.navbar {
    display: flex; 
    justify-content: space-around; /* По краям */
    align-items: center; /*По вертикалі */
    background-color: #f2e1f4; /* Фон */
    padding: 15px 20px; /* Внутрішні відступи */
    font-size: 16px; /* Шрифт*/
}

.navbar a {
    color: #400c45; /* Колір тексту */
    text-decoration: none; /* Підкреслювання - */
    font-size: 18px;
    padding: 10px 15px; /* Внутрішні відступи */
    border-radius: 5px; /* Заокруглені угли */
}

.navbar a:hover {
    background-color: #a458b9; /*Колір при наведенні */
}


.project {
    display: flex; /* В рядок */
    flex-wrap: wrap; /* Перенесення на новий рядок, якщо не міститься */
    gap: 20px; /* Відступи між елементами */
    padding: 20px; /* Внутр. відступи контейнера */
    justify-content: center; /* Виравнювання по центру */
}

.item {
    background: #f2e1f4; /* Фон для карток */
    border-radius: 10px; /* Заокруглення */
    padding: 15px;
    width: 600px; /* Фіксована ширина */
    text-align: center; /* Центрування */
}

.text {
    margin-top: 10px;
}

img, video, audio {
    width: 100%; /* Адаптив відео */
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%; /* На всю ширину */
}

.item {
    display: flex;
    flex-direction: column; /* Розташовуємо елементи один під одним */
    gap: 15px; /* Встановлює відступи між елементами */
}

.media-item {
    max-width: 100%; /* Максимальна ширина елементів */
    margin: 0 auto; /* Центрування елементів */
}
