{% load static %}


<html>
<head>
	<title>FactsNature</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="{% static 'css/my_styles.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'css/my_footer.css' %}" type="text/css" media="all"/>
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
        <div id="content_nav">
			<div class="navbar">
                <a href="/">
                    <img class="images" src="{% static 'images/nature.svg' %}" 
                        alt="Home Icon" width="32" height="32">
                </a>
                <a href="/">Головна сторінка</a>
                <a href="mailto:t2950198@gmail.com">
                    <img class="images" src="{% static 'images/gmail_1.png' %}" 
                        alt="Home Icon" width="32" height="32">
                </a>
                <a href="/admin">Адмін панель</a>
			</div>
		</div>
        </div>
		<div id="main">
			<div id="content" class="left">

				<div class="project_two" style="text-align: center; color: #3a1836;">
					<h2 style='font-size: 32px;'>{{ single.title }}</h2>
                {% if single.img %}
                    <p>
                        <img width="80%" src="{{ single.img.url }}"/>
                    </p>
                {% endif %}

                {% if single.video %}
                    <p>
                        <video width="80%" controls>
                            <source src="{{ single.video.url }}" type="video/mp4">
                            Ваш браузер не підтримує відео.
                        </video>
                    </p>
                {% endif %}

                {% if single.audio %}
                    <p>
                        <audio width="80%" controls>
                            <source src="{{ single.audio.url }}" type="audio/mpeg">
                            Ваш браузер не підтримує аудіо.
                        </audio>
                    </p>
                {% endif %}
			        <div class="item_two" style="text-align: center;">
					        <hr><p>{{ single.description }}</p>
					        <h4>Автор: {{ single.author }}</h4>
					        <hr>
			        </div>
                
                    <div class="likes" style="text-align: center;">
                        <br>
                        <p>Сподобалось: {{ single.likes_set.count }}</p>

                        {% if ip_user in liked_ips %}
                    <p>Ви вже лайкнули цю публікацію!</p>
                        {% else %}
                    <a href="{% url 'add_like' single.id %}">Лайк</a>
                        {% endif %}

                        <br>
                    </div>
			            <div class="comment" style="text-align: center;">
                            <h5>ЗАЛИШИТИ КОМЕНТАР:</h5>
                            <div>
					            <form action="{% url 'add_comment' single.id %}" method="post">
                                    {% csrf_token %}
                                    <div>
                                        <label>Ваш коментар:</label>
                                        <textarea name="text_comments"></textarea>
                                    </div>
						            <div>
                                        <label>Ваше ім'я *</label>
                                        <input type="text" name="name">
                                    </div>
                                    <div>
                                        <label>Ваша пошта *</label>
                                        <input type="email" name="email">
                                    </div>
                                    <div class="submit-wrapper" style="text-align: center;">
                                        <input type="submit" value="Надіслати">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div>
                            {% for comment in single.comment_set.all %}
                            <div class="view-comment" style="text-align: center;">
                                <h4>{{ comment.name }}</h4>
                                <p>
                                    {{ comment.text_comments }}
                                </p>
                            </div>
                            {% endfor %}
                        </div>
			            <div class="cl">&nbsp;</div>
		            </div>
                </div>
            </div>
        </div>
	</div>
    <div class="main-footer">
        {% include "includes/footer.html" %}
    </div>
</div>
</body>
</html>